{{student.emp_name}} and {{student1.emp_name}} made this database very Organized.
<h1>Employee details </h1>
<table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Seniority</th>
      <th>Address</th>
      <th>Joining</th>
      <th>pay_scale</th>
      <th>sal</th>
      <th>Allowed_holidays</th>
      <th>avb_holidays</th>
    </tr>
    {% for employees in employee %}
    <tr>
      <td id="employee">{{employees.emp_id}}</td>
      <td>{{employees.emp_name}}</td>
      <td>{{employees.address}}</td>
      <td>{{employees.seniority}}</td>
      <td>{{employees.address}}</td>
      <td>{{employees.joining_date}}</td>
      <td>{{employees.pay_scale}}</td>
      <td>{{employees.salary}}</td>
      <td>{{employees.allowed_holidays}}</td>
      <td>{{employees.availed_holidays}}</td>
    </tr>
    {% endfor %}
  </table>






  <h1>Board of Directors details </h1>
  <table style="width:100%">
      <tr>
        <th>bod_id</th>
        <th>bod_name</th>
        <th>bod_tagline</th>
        <th>bod_quote</th>
        <th>bod_pic</th>
        <th>bod_qualification</th>
        <th>bod_social</th>
      </tr>
      {% for director in directors %}
      <tr>

        <td>{{director.bod_id}}</td>
        <td>{{director.bod_name}}</td>
        <td>{{director.bod_tagline}}</td>
        <td>{{director.bod_quote}}</td>
        <td>{{director.bod_pic}}</td>
        <td>{{director.bod_qualification}}</td>
        <td>{{director.bod_social}}</td>
        
      </tr>
      {% endfor %}
    </table>
  


  <h1>Department details </h1>
<table style="width:100%">
    <tr>
      <th>DEPARTMENT ID</th>
      <th>DEPARTMENT Name</th>
      <th>Number of Members</th>
      <th>Projects Assigned</th>
      <th>DEPARTMENT location</th>
    </tr>
    {% for department in departments %}
    <tr>
      <td>{{department.dept_id}}</td>
      <td>{{department.dept_name}}</td>
      <td>{{department.no_of_members}}</td>
      <td>{{department.project_assigned}}</td>
      <td>{{department.dept_location}}</td>
    </tr>
    {% endfor %}
  </table>
